/* Add application styles & imports to this file! */
.container {
  color: red;

  width: 300px;
  padding: 10px;
}

.dropdown-header {
  display: flex;
  justify-content: space-between;
  background-color: gray;
}


.title,
.arrow {
  display: flex;
  width: 20px;
  height: 20px;
}
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px blue;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: green;
}
