/* Add application styles & imports to this file! */
.container {
  color:red;
  
 
  width: 300px;
  padding: 10px;
}

.dropdown-header {
  display: flex;
  justify-content: space-between;
  background-color: gray;
}

.dropdown-body {
  margin-top: 20px;
  background-color: lightcoral;
  min-height: 200px;
  max-height: 200px;
  overflow-y: scroll;

}
.title, .arrow {
  display: flex;
  width: 20px;
  height: 20px;
  
}